html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  width: 1920px;
  max-width: 100%;
  font-family: "Lato-Light", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 1em;
}
@media (max-width: 1280px) {
  body {
    font-size: 1.42vw;
    width: 100%;
  }
}
@media (max-width: 980px) {
  body {
    font-size: 1.96vw;
    width: 100%;
  }
}
@media (max-width: 650px) {
  body {
    font-size: 2.46vw;
    width: 100%;
  }
}
.page__wrapper {
  height: 100%;
}
.page__content {
  min-height: 100%;
}
.page__content:after {
  content: '';
  display: block;
  height: 5.375em;
}
.pixel-perfect {
  position: absolute;
  width: 1920px;
  opacity: 0.5;
  top: 0;
  margin: 0 auto;
}
body::-webkit-scrollbar {
  display: none !important;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.icons-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-bottom: 0.75em;
}
.icons-block__elem-style {
  margin-right: 0.55em;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  text-decoration: none;
}
.icons-block__elem-style:last-child {
  margin-right: 0.8em;
}
.read-more {
  text-align: center;
  width: inherit;
}
.read-more__link-style {
  font-family: "Lato-Light", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.75em 1.875em;
  border: 0.125em solid #c9a245;
  font-size: 1.125em;
}
@media (max-width: 1280px) {
  .read-more__link-style {
    font-size: 1.59vw;
  }
}
@media (max-width: 980px) {
  .read-more__link-style {
    font-size: 2.21vw;
  }
}
@media (max-width: 650px) {
  .read-more__link-style {
    font-size: 2.77vw;
  }
}
.read-more__link-style:link,
.read-more__link-style:visited {
  color: #ffffff;
  text-decoration: none;
}
.read-more__link-style:hover,
.read-more__link-style:active {
  color: #c68e65;
  text-decoration: none;
}
.read-more__link-style:hover {
  border: 0.0625em solid #ffffff;
  color: #ffffff;
  text-decoration: none;
}
.tag {
  text-align: center;
  font-family: "Lato-Light", sans-serif;
  text-transform: uppercase;
  padding: 0.75em 1.1875em;
  font-size: 1.125em;
}
@media (max-width: 1280px) {
  .tag {
    font-size: 1.59vw;
  }
}
@media (max-width: 980px) {
  .tag {
    font-size: 2.21vw;
  }
}
@media (max-width: 650px) {
  .tag {
    font-size: 2.77vw;
  }
}
.post {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  .post .content-block,
  .post .aside__content-block {
    margin-bottom: 0.125em;
  }
}
.divider {
  border-bottom: 0.125em solid #c9a245;
  margin: 0.5em auto;
  width: 2.09375em;
}
.horizontal-center {
  margin: 0 auto;
  max-width: 100%;
}
.post-title {
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  color: #000000;
  font-size: 2.74em;
}
@media (max-width: 1280px) {
  .post-title {
    font-size: 3.89vw;
  }
}
@media (max-width: 980px) {
  .post-title {
    font-size: 5.4vw;
  }
}
@media (max-width: 650px) {
  .post-title {
    font-size: 6.77vw;
  }
}
